.username{
    cursor: pointer;
    font-weight: bold;

    &:hover{
        text-decoration: underline;
    }
}

.list{
    list-style: none;
    padding: 0px;

    li{
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}

.input{
    outline: none !important;
    box-shadow: none !important;
    background-color: #3f220e;
    color: #ffcc66;
    font-weight: bold;
    border: none;
    width: 100%;
}