@import "../../styles/colors";
@import "../../styles/gradients";
@import "../../styles/texts";
@import "../../styles/buttons";


#content{
    min-height: 100vh;
    padding-top: 15vh;
    background-color: $secColor;
}

#bg_gradient{
    background: $linGradBtm;
}